@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*==========Base==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
  color: #eeeeee;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  line-height: 1.5e;
}

.container {
  max-width: 22rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.marvel-logo {
  width: 100px;
}

/*==========Sliders==========*/

.title-1 {
  margin: 0 0 1rem 1rem;
  font-size: 20px;
}

.title-2,
.title-3 {
  margin: 1rem 0 0 1rem;
  font-size: 20px;
}

.swiper-1 {
  width: 100%;
  overflow-x: hidden;
}

.swiper-2 {
  width: 100%;
  top: 20.7rem;
  overflow-x: hidden;
}

.swiper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.card {
  width: 15em;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1.5em;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: opacity(75%);
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*==========Sliders==========*/


.grid3x3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 4rem 0;
}

.group {
  margin-bottom: 0.3rem;
}


/*========== Bottom header ==========*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 1rem 1rem 1rem;
  max-width: 22rem;
  backdrop-filter: grayscale(0.5) opacity(0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1), rgb(0, 0, 0, 1), rgb(0, 0, 0, 1));
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.button-img {
  margin-bottom: 0.5rem;
}

.home {
  color: #ED1B24;
}